[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
mysqlclient = "*"
mysql-connector-python = "*"
pillow = "*"
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
google-generativeai = "*"
chromadb = "*"
langchain-chroma = "*"
langchain-groq = "*"
sentence-transformers = "*"
youtube-transcript-api = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
